@model IEnumerable<C_R_M.Models.Servicio>
@{
    ViewBag.Title = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/sl-1.3.0/datatables.min.css" />
    <style>
        .dataTables_filter, .content {
            display: none;
        }
        .lds-roller {
            display: inline-block;
            position: absolute;
            width: 128px;
            height: 128px;
            z-index: 100;
            left: 43%;
            top: 44%;
        }
        .lds-roller div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 64px 64px;
        }
            .lds-roller div:after {
                content: " ";
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #117a65;
                margin: -3px 0 0 -3px;
            }
        .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
        }
        .lds-roller div:nth-child(1):after {
          top: 100px;
          left: 100px;
        }
        .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
        }
        .lds-roller div:nth-child(2):after {
          top: 108px;
          left: 90px;
        }
        .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
        }
        .lds-roller div:nth-child(3):after {
          top: 114px;
          left: 78px;
        }
        .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
        }
        .lds-roller div:nth-child(4):after {
          top: 116px;
          left: 64px;
        }
        .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
        }
        .lds-roller div:nth-child(5):after {
          top: 114px;
          left: 50px;
        }
        .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
        }
        .lds-roller div:nth-child(6):after {
          top: 108px;
          left: 38px;
        }
        .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
        }
        .lds-roller div:nth-child(7):after {
          top: 100px;
          left: 24px;
        }
        .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
        }
        .lds-roller div:nth-child(8):after {
          top: 90px;
          left: 20px;
        }
        .tttop {
            display: table-header-group;
        }
        .table > tfoot > tr > th {
            border: none;
            border-bottom: 1px solid #111;
            border-top: none;
        }
            @@-webkit-keyframes lds-roller {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @@keyframes lds-roller {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
    </style>
}
    <div class="container" style="width: 100%;">
        <h2>Marketings  de Productos</h2>
        @Html.ActionLink("Ver sugerencias enviadas", "Details", null, htmlAttributes: new { @class = "btn btn-info" })
        <div class="lds-roller" id="roller" style="display:none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div style="margin-top: 1em;" class="col-12">
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap col-12" width="100%" cellspacing="0">
                <tfoot class="tttop">
                    <tr>
                        <th class="none"></th>
                        <th class="none">Nombre</th>
                        <th class="none"></th>
                        <th class="none"></th>
                        <th class="visible">Producto</th>
                    </tr>
                </tfoot>
                <thead>
                    <tr>
                        <th>Id_Servicio_Empresa</th>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                        <th>Producto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id_Servicio_Empresa
                            </td>
                            <td>
                                @item.Empresa.Nombre
                            </td>
                            <td>
                                @item.Empresa.Cedula
                            </td>
                            <td>
                                @item.Empresa.Correo
                            </td>
                            <td>
                                @item.Producto.Nombre
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Producto Sugerido", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("sugerido", (IEnumerable<SelectListItem>)ViewBag.Productos, htmlAttributes: new { @class = "form-control", id = "sugerido" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("URL", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input class="form-control" type="url" name="url" id="url" />
                </div>
            </div>
            <div class="text-right">
                <button id="button" class="btn btn-success" style="margin-right: 4em">Enviar Correos</button>
            </div>
        </div>
    </div>

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/sl-1.3.0/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            var table = $("#demoGrid").DataTable({
                "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "language": {
                    "url": "@Url.Content("/Resources/Spanish.json")"
                },
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        $('<label style="margin-right:6px;">Seleccione el Producto</label>').appendTo($(column.footer()).empty());
                        var select = $('<select><option value="">Todos</option></select>')
                            .appendTo($(column.footer()))
                            .on('change', function () {
                                let trs = document.getElementsByTagName("tr");
                                for (var i = 0; i < trs.length; i++) {
                                    trs[i].className = (trs[i].className.split(" ").lentgh > 0) ? trs[i].className.split(" ")[0] : "";
                                }
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();

                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    let ocultar = $('#demoGrid tfoot tr th');
                    for (var i = 0; i < ocultar.length; i++) {
                        if (ocultar[i].className == "none") {
                            ocultar[i].firstChild.style.display = "none";
                            ocultar[i].lastChild.style.display = "none";
                        }

                    }
                },
                "processing": true, // for show progress bar
                "filter": true, // this is for disable filter (search box)
                "pageLength": 5,
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "sortable": false,
                        "searchable": false
                    }],
            });

            $('#demoGrid tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function () {
                let data = { url: "", servicios: "", sugerido: "" };
                if (table.rows('.selected').data().length > 0) {
                    for (var i = 0; i < table.rows('.selected').data().length; i++) {
                        data.servicios += table.rows('.selected').data()[i][0] + ",";
                    }
                }
                data.url = $('input[id=url]').val();
                data.sugerido = $('select[id=sugerido]').val();
                if (data.url == null || data.url == "" || data.servicios == null || data.servicios == "")
                    alert("1- Seleciones un producto y las empresas a las cuales notificar\n2- Seleccione el producto a sugerir\n3- Ingrese una url");
                else {
                    $('#roller').show();
                    $('#button').hide();
                    $.post("/Marketings/Create", data)
                        .done(function (data) {
                            $('#roller').hide();
                            $('#button').show();
                            alert(data);
                        });
                }
            });


        });</script>
}