@model IEnumerable<C_R_M.Models.Rol>

@{
    ViewBag.Title = "Listado de Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="text-right" style="padding-right: 57px">
            @Html.DisplayName("Opciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-right">
                <a class="btn btn-success ml-1" href="@Url.Action("Edit")/@item.Id"><i class="fa fa-edit  fa-lg"></i></a>
                <a class="btn btn-info ml-1" href="@Url.Action("Details")/@item.Id"><i class="fa fa-info-circle"></i></a>
                <a class="btn btn-danger ml-1" href="@Url.Action("Delete")/@item.Id"><i class="fa fa-trash fa-lg"></i></a>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Mostar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

