@model C_R_M.Models.ServicioEmpresa
@using C_R_M.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Servicio Contratado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renovacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renovacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ver cuentas", "Index", "Cuentas", new { id = Model.Id_Servicio_Empresa, tipo = TipoConsulta.InternaCuenta }, null) |
    @Html.ActionLink("Volver", "Index")
</p>
