@model IEnumerable<C_R_M.Models.Recordatorio>

@{
    ViewBag.Title = "Recordatorios del Dia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recordatorios del Dia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abreviatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abreviatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
        </td>
        <td>
            @Html.ActionLink("Mostrar", "Details", new { id=item.Id_Recordatorio }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Recordatorio })
        </td>
    </tr>
}

</table>
