@model IEnumerable<C_R_M.Models.Correo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idex = Model.FirstOrDefault();
    int contacto = 0;
    if(idex != null)
    {
        contacto = idex.Contacto1.Id_Contacto;
    };
}


<h2>Correos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Correo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto1.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto1.Nombre)
            </td>
            <td>
                <a class="btn btn-success ml-1" href="@Url.Action("Edit")/@item.Id_Correo"><i class="fa fa-edit  fa-lg"></i></a>
                <a class="btn btn-info ml-1" href="@Url.Action("Details")/@item.Id_Correo"><i class="fa fa-info-circle"></i></a>
                <a class="btn btn-danger ml-1" href="@Url.Action("Delete")/@item.Id_Correo"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Volver a la lista", "../Contactoes/Index", new { id = @contacto })