@model C_R_M.Models.Telefono

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contacto = (int)ViewBag.Contacto;
}

<h2>Detalles</h2>

<div>
    <h4>Telefono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.N_Telefonico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.N_Telefonico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Telefono }) |
    @Html.ActionLink("Volver a la lista", "Index", new { id = contacto })
</p>
