@model C_R_M.Models.Empresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Empresa</a></li>
    <li><a data-toggle="tab" href="#menu1">Contacto</a></li>
    <li><a data-toggle="tab" href="#menu2">Servicios</a></li>
    <li><a data-toggle="tab" href="#menu3">Estado de Cuenta</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h2>Editar</h2>
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            
        <div class="form-horizontal">
            <h4>Empresa</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_Empresa)
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">


                    @if (Model.Tipo_Cedula.Equals("Juridica"))
                    {
                        @Html.RadioButtonFor(model => model.Tipo_Cedula, "Juridica",htmlAttributes: new { @class = "cedul", @checked = "checked" })

                    @Html.Label("Jurídica")
                    @Html.RadioButtonFor(model => model.Tipo_Cedula, "Fisica", htmlAttributes: new { @class = "cedul" })
                    @Html.Label("Física")
                    }
                    else
                    {
                    @Html.RadioButtonFor(model => model.Tipo_Cedula, "Juridica", htmlAttributes: new { @class = "cedul" })
                    @Html.Label("Jurídica")
                    @Html.RadioButtonFor(model => model.Tipo_Cedula, "Fisica",  htmlAttributes: new { @class = "cedul", @checked = "checked" })
                    @Html.Label("Física")
                    }

                </div>
            </div>
            <div class="form-group">
                @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                        @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control",@id= "ced", @onclick = "validar()" } })
                        @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                   
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Pais, "País", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Pais, (SelectList)ViewBag.Pais, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Pais, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Provincia, "Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Provincia, (SelectList)ViewBag.Id_Provincia, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Provincia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Canton, "Cantón", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Canton, (SelectList)ViewBag.Id_Canton, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Canton, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Distrito, "Distrito", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Distrito, (SelectList)ViewBag.Id_Distrito, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Distrito, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Otras_Señas, "Otras Señas", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Otras_Señas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Otras_Señas, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Codigo_Postal, "Código Postal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo_Postal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo_Postal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Actualizar" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
        <div>
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    </div>
    @*<div id="menu1" class="tab-pane fade">
        @Html.Action("index", "Contactoes", "")
    </div>
    <div id="menu2" class="tab-pane fade">
        @Html.Action("index", "ServicioEmpresas", "")
    </div>
    <div id="menu3" class="tab-pane fade">
        @Html.Action("index", "Cuentas", "")
    </div>*@
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function validar() {
        var selectedRadio = $(".cedul:checked").val();
        if (selectedRadio == 'Juridica') {
            $("#ced").attr('maxlength',7);
            $("#ced").attr('minlength', 5);

        } else {
            $("#ced").attr('maxlength', 10);
            $("#ced").attr('minlength', 5);
        }
    };

    $(".cedul").change(function () {
        validar();
    });

</script>
}
