@model IEnumerable<C_R_M.Models.Contacto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
        </td>
        <td>
            <a class="btn btn-info ml-1" href="@Url.Action("Details","Contactos",null)/@item.Id_Contacto"><i class="fa fa-info-circle"></i></a>
            <a class="btn btn-success ml-1" href="@Url.Action("Edit","Contactos",null)/@item.Id_Contacto"><i class="fa fa-edit  fa-lg"></i></a>
        </td>
    </tr>
}

</table>
